body::before, body::after {
   content: '';
   display: inline-block;
   width: 0;
   height: 0;
   position: fixed;
   top: 50vh;
   left: 50vw;
   margin: 0;
   border-radius: 100%;
   visibility: hidden;
   background-color: transparent;
   transition: width 2s 1s, height 2s 1s, top 2s 1s, left 2s 1s;
}
