div.eye {
  height: 11in;
  width: 100%;
  position: relative;
  page-break-before: always;
  page-break-after: always;
  background-color: #707070;
  &::before, &::after {
    content: '';
    display: inline-block;
    margin: 0;
    border-radius: 100%;
    position: absolute;
    background-color: transparent;
  }
  &::before {
    background-color: #fff;
    width: 3.5in;
    height: 2.5in;
    margin: 4.25in 1.5in;
  }
  &::after {
    background-color: #707070;
    width: 1in;
    height: 1in;
    margin: 5in 2.75in;
  }
}
