@keyframes noise-anim{
  $steps: 20;
  0% {
    clip: none;
  }
  @for $i from 0 through $steps{
    #{$i+(100-$steps)}%{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes noise-anim-2{
  $steps: 20;
  0% {
    clip: none;
  }
  #{99-$steps}% {
    clip: none;
  }
  @for $i from 0 through $steps{
    #{$i+(100-$steps)}%{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.glitch {
  position: relative;
  display: block;
}

.glitch:after {
  content: attr(data-text);
  text-shadow: -1px 0 red;
  color: green;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 10s infinite linear alternate-reverse;
  position: absolute;
  width: 6.5in;
  display: block;
}

.glitch:before {
  display: block;
  width: 6.5in;
  content: attr(data-text);
  text-shadow: 1px 0 blue;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 15s infinite linear alternate-reverse;
  position: absolute;
}
